
@{
                /**/

                /**/

                ViewBag.Title = "Lesson 2";
}


<div class="container">
    <script>

        $(function () {
            // do this
            // alert("Hello!");

            $('#birthday').datepicker();

            $('.ball').draggable();

            $('h1').addClass('animated ' + rand());

            $('.bx').each(function () {
                $(this).is(':checked') ?
                    $('#' + $(this).attr('id') + 'Img').css('visibility', 'visible') : // true
                    $('#' + $(this).attr('id') + 'Img').css('visibility', 'hidden')    // false
            });

            // function below is for testing - alert massage
            //$('.bx').change(function () {
            //    alert('test');
            //});

            $('.bx').change(function () {
                $('#' + $(this).attr('id') + 'Img').css('visibility', 'visible')
                $(this).is(':checked') ?
                    $('#' + $(this).attr('id') + 'Img').removeClass().addClass('animated bounceInDown') :
                    $('#' + $(this).attr('id') + 'Img').addClass('animated bounceOutUp')

            });


            function rand() {
                var anim = ['bounce', 'jello', 'swing', 'shake', 'tada', 'pulse', 'flash']
                var random = Math.floor(Math.random() * 6);
                return anim[random];
            }

        });

    </script>
    <h1>Happy Birthday!</h1>
    <form role="form">
        <div class="row">
            <!-- Data Entry -->
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" />
                </div>

                <div>
                    <label for="birthday">Birthday</label>
                    <input type="text" id="birthday" class="form-control" />
                </div>

                <!-- Balloon choice -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <strong>Select your favorite balloons</strong>
                        </h3>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" class="bx" id="rb" />Red Balloons</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" class="bx" id="gb" />Green Balloons</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" class="bx" id="pb" />Purple Balloons</label>
                    </div>
                </div>

                <button type="button" class="btn btn-default">Submit</button>
                <!-- end of Balloon choice -->
            </div>

            <!-- Balloons -->
            <div class="col-sm-6">
                <img src="~/images/red.png" class="ball" id="rbImg" />
                <img src="~/images/green.png" class="ball" id="gbImg" />
                <img src="~/images/purple.png" class="ball" id="pbImg" />
            </div>
        </div>
    </form>

</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <!--glyphicon glyphicon-file making file icon next to MVC text-->
        <p class="navbar-text">MVC<span class="glyphicon glyphicon-file"></span></p>
        <button type="button" class="btn btn-danger navbar-btn pull-right" data-toggle="modal" data-target="#modal-area">Modal</button>
    </div>
</nav>
<div id="modal-area" class="modal">
    This is a modal
</div>